@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.icon-content{
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.badge {
  background-color: #fa3e3e;
  border-radius: 0;
  color: white;

  padding: 3px 3px;
  font-size: 8px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0px;
  right: 0px;
}
